<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="ajaxApp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>First steps with angular</title>
  <link rel="shortcut icon" HREF="images/logo.jpg"/>

  <!-- css-->
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <!-- jQuery-->
  <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>

  <!-- jQuery Cookies management-->
  <script src="vendors/jquery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Angular-->
  <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Own code-->
  <!-- Model-->
  <script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>
  <!-- Controllers-->
  <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/SessionController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/UserController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/Review.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/Apply.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/Vacant.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/ReviewController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/ApplyController.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body class="container" ng-controller="SessionController as sessionCtrl" ng-init="sessionCtrl.sessionControl()">
  <div id="login" ng-controller="UserController as userCtrl">
    <div ng-show="userOption==0">
      <h2>Login</h2>
      <form class="login" name="userConnection" ng-submit="userCtrl.connection()" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="user.nick"  placeholder="User" required />
          <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
        </div>
        <div class="form-group col-sm-6">
          <label>
            <input class="btn btn-success btn-default btn-primary btn-block" type="submit"  ng-disabled="userConnection.$invalid" value="Login" />
          </label>
        </div>
        <div ng-show="showError" class="has-error">
                <span class="help-block "><strong>Incorrect user and/or password</strong></span>
        </div>
      </div>

        <div ng-if="userOption==1">
        <h1>Welcome</h1>
          <div id="mainMenu">
            <a ng-if="user.getTypeUser()=='0'" href='' ng-click="action(1)">Manage reviews</a>
            <a ng-if="user.getTypeUser()=='1'" href='' ng-click="action(2)">Apply</a>
          <div ng-if="$parent.master" id="manageReviews" ng-controller="ReviewController" ng-init="loadInitData()">
            <review-mod-form></review-mod-form>
          </div>
          <div ng-if="$parent.slave" ng-controller="ApplyController" ng-init="loadInitData()">
            <apply-form></apply-form>
          </div>
        </div>
      </div>
</div>
  <br/><br/><br/>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - norosa@programmer.net
      </p>
    <button class="navbar-btn btn-primary btn pull-left" onclick="location.reload()">Reload</button>
      <a href="http://github.com/n0r0s4" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  See my github</a>
    </div>
  </div>
</body>
</html>
